<!-- views/contact.ejs -->

<div>
  <% include ./navbar %>
</div>
<div class="form-header">
  <% if (Object.keys(errors).length ===0) { %>
  <h2>Create a Post</h2>
  <% } else { %>
  <h2 class="errors-handling">Oops, please corect the following:</h2>
  <ul class="errors-list">
    <% Object.values(errors).forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
  <% } %>
</div>

<form method="post" action="/partials/contact" novalidate>
  <div class="form-field <%= errors.message ? 'form-field-invalid' : '' %>">
    <label for="message">Post Your Message</label>
    <textarea class="input" id="message" name="message" rows="4" autofocus><%= data.message %></textarea>
    <% if (errors.message) { %>
      <div class="error"><%= errors.message.msg %></div>
    <% } %>
  </div>
  <div class="form-field <%= errors.email ? 'form-field-invalid' : '' %>">
    <label for="email">Enter a Valid Email Address</label>
    <input class="input" id="email" name="email" type="email" value="<%= data.email %>" />
    <% if (errors.email) { %>
      <div class="error"><%= errors.email.msg %></div>
    <% } %>
  </div>
  <div class="form-actions">
      <button class="btn" type="submit"  data-toggle="modal" data-target="#myModal">Send</button>
  </div>
</form>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
